<template>
  <div class="oneDayView">
    <!-- v-container fluid -->
    <v-container grid-list-md text-xs-center>
        <!-- v-layout row wrap -->
        <v-layout v-bind="binding">
        <!-- v-flex v-for="i in 3" :key="`4${i}`" xs4 -->
        <v-flex xs4>
        <!-- v-flex xs12 -->
        <v-card dark color="secondary">
          <v-card-text class="px-0 indigo lighten-2" >
              <h1>Responsive Design Lab</h1>
            <p>Leverage agile frameworks to provide a robust synopsis for high level overviews.
                Iterative approaches to corporate strategy foster collaborative thinking to further
                the overall value proposition. Organically grow the holistic world view of
                disruptive innovation via workplace diversity and empowerment.</p>

            <h2>Introduction</h2>
            <p>Bring to the table win-win survival strategies to ensure proactive domination.
                At the end of the day, going forward, a new normal that has evolved from generation
                X is on the runway heading towards a streamlined cloud solution. User generated
                content in real-time will have multiple touchpoints for offshoring.</p>

            <p>Capitalise on low hanging fruit to identify a ballpark value added activity to beta
                test. Override the digital divide with additional clickthroughs from DevOps.
                Nanotechnology immersion along the information highway will close the loop on
                focusing solely on the bottom line.</p>

            <p>Podcasting operational change management inside of workflows to establish a
                framework. Taking seamless key performance indicators offline to maximise the long
                tail. Keeping your eye on the ball while performing a deep dive on the start-up
                mentality to derive convergence on cross-platform integration. Collaboratively
                administrate empowered markets via plug-and-play networks. Dynamically
                procrastinate B2C users after installed base benefits. Dramatically visualize
                customer directed convergence without revolutionary ROI.</p>
          </v-card-text>
        </v-card>
      </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue';

export default {
  name: 'oneDayView',
  components: {
    // HelloWorld,
  },
  computed: {
    binding() {
      const binding = {};
      // eslint-disable-next-line
      // console.log(this.$vuetify.breakpoint.mdAndUp)
      if (!this.$vuetify.breakpoint.smAndUp) binding.column = true;
      return binding;
    },
  },
};
</script>

<style>
/*
@media screen and (max-width: 48rem) {
  .no-flexbox .container .col {
    width: 95%;
  }
}

.flexbox .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #eee;
  overflow: auto;
}

.flexbox .container .col {
  flex: 1;
  padding: 1rem;
}

@media screen and (max-width: 48rem) {
    .flexbox .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-flow: column;
    }
}
*/
</style>


<!--
<div class='container'>
        <div class="col">
            <h1>Responsive Design Lab</h1>
            <p>Leverage agile frameworks to provide a robust synopsis for high level overviews.
                Iterative approaches to corporate strategy foster collaborative thinking to further
                the overall value proposition. Organically grow the holistic world view of
                disruptive innovation via workplace diversity and empowerment.</p>

            <h2>Introduction</h2>
            <p>Bring to the table win-win survival strategies to ensure proactive domination.
                At the end of the day, going forward, a new normal that has evolved from generation
                X is on the runway heading towards a streamlined cloud solution. User generated
                content in real-time will have multiple touchpoints for offshoring.</p>

            <p>Capitalise on low hanging fruit to identify a ballpark value added activity to beta
                test. Override the digital divide with additional clickthroughs from DevOps.
                Nanotechnology immersion along the information highway will close the loop on
                focusing solely on the bottom line.</p>

            <p>Podcasting operational change management inside of workflows to establish a
                framework. Taking seamless key performance indicators offline to maximise the long
                tail. Keeping your eye on the ball while performing a deep dive on the start-up
                mentality to derive convergence on cross-platform integration. Collaboratively
                administrate empowered markets via plug-and-play networks. Dynamically
                procrastinate B2C users after installed base benefits. Dramatically visualize
                customer directed convergence without revolutionary ROI.</p>
        </div>
        <div class="col">
            <h1>Responsive Design Lab</h1>
            <p>Leverage agile frameworks to provide a robust synopsis for high level overviews.
                Iterative approaches to corporate strategy foster collaborative thinking to further
                the overall value proposition. Organically grow the holistic world view of
                disruptive innovation via workplace diversity and empowerment.</p>

            <h2>Introduction</h2>
            <p>Bring to the table win-win survival strategies to ensure proactive domination.
                At the end of the day, going forward, a new normal that has evolved from generation
                X is on the runway heading towards a streamlined cloud solution. User generated
                content in real-time will have multiple touchpoints for offshoring.</p>

            <p>Capitalise on low hanging fruit to identify a ballpark value added activity to beta
                test. Override the digital divide with additional clickthroughs from DevOps.
                Nanotechnology immersion along the information highway will close the loop on
                focusing solely on the bottom line.</p>

            <p>Podcasting operational change management inside of workflows to establish a
                framework. Taking seamless key performance indicators offline to maximise the long
                tail. Keeping your eye on the ball while performing a deep dive on the start-up
                mentality to derive convergence on cross-platform integration. Collaboratively
                administrate empowered markets via plug-and-play networks. Dynamically
                procrastinate B2C users after installed base benefits. Dramatically visualize
                customer directed convergence without revolutionary ROI.</p>
        </div>
        <div class="col">
            <h1>Responsive Design Lab</h1>
            <p>Leverage agile frameworks to provide a robust synopsis for high level overviews.
                Iterative approaches to corporate strategy foster collaborative thinking to further
                the overall value proposition. Organically grow the holistic world view of
                disruptive innovation via workplace diversity and empowerment.</p>

            <h2>Introduction</h2>
            <p>Bring to the table win-win survival strategies to ensure proactive domination.
                At the end of the day, going forward, a new normal that has evolved from generation
                X is on the runway heading towards a streamlined cloud solution. User generated
                content in real-time will have multiple touchpoints for offshoring.</p>

            <p>Capitalise on low hanging fruit to identify a ballpark value added activity to beta
                test. Override the digital divide with additional clickthroughs from DevOps.
                Nanotechnology immersion along the information highway will close the loop on
                focusing solely on the bottom line.</p>

            <p>Podcasting operational change management inside of workflows to establish a
                framework. Taking seamless key performance indicators offline to maximise the long
                tail. Keeping your eye on the ball while performing a deep dive on the start-up
                mentality to derive convergence on cross-platform integration. Collaboratively
                administrate empowered markets via plug-and-play networks. Dynamically
                procrastinate B2C users after installed base benefits. Dramatically visualize
                customer directed convergence without revolutionary ROI.</p>
        </div>
    </div>
-->
